
.container {
    display: flex;
    margin: 80px auto;
    gap: 40px;
    max-width: 920px;
    width: 100%;
}

.header {
    position: sticky;
    top: 80px;
    background-color: #f5f7fb;
    color: #464e5e;
    border-radius: 80px;
    text-align: right;
    padding: 40px 60px;
    height: 100%;
}

.header > h1 {
    font-size: 40px;
    font-weight: 400;
}

.header .accent {
    font-weight: 800;
}

.filter {
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 24px;
    font-weight: 500;
    padding: 8px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
}

.filter > .remove-icon {
    width: 12px;
    height: 12px;
}

.content {
    flex-grow: 1;
}

.add-item {
    display: block;
    text-decoration: none;
    border-radius: 8px;
    border: #DEE3EC dashed 2px;
    font-size: 20px;
    color: #464E5E;
    padding: 24px 48px;
    position: sticky;
}

.add-item:hover{
    background-color: #F5F7FB;
}

.dash {
    height: 0;
    width: 52px;
    border: #BFC8DA dashed 1.5px;
    position: relative;
}

.items {
    margin: 0;
    padding: 0;
}

.item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 78px;
    border-radius: 8px;
    padding: 16px 48px;
}


.item:hover {
    background-color: #F5F7FB;
}

.item:active {
    background-color: #EDF0F5;
}

.add-item:active {
    background-color: #EDF0F5;
}

.item-color-chip {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: #E8E8E8 solid 3px;
    margin-left: 20px;
}

.item-id {
    flex-shrink: 0;
    margin-right: 40px;
    color: #BFC8DA;
}

.item-mbti {
    flex-shrink: 0;
    background-color: #b2bdcc2f;
    border-radius: 8px;
    padding: 8px 8px;
    font-size: 25px;
    font-weight: 600;
    margin-right: 20px;
}


.item-arrow-icon {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 8px;
    height: 13px;
    color: #DEE3EC;
}

.item-hex {
    color: #BFC8DA;
    font-size: 24px;
    margin-left: 20px;
}

@media (max-width: 944px) {


    .container {
        display: flex;
        flex-direction: column;
        margin: 0; /* media 쿼리 내에서 모든 margin을 0으로 초기화 */
        gap: 40px;
        max-width: none; /* 다른 값이 적용되어 있을 경우 초기화 */
        width: 100%;
    }
    
    .header {
        text-align: center;
        margin: 0 20px;
        top: 20px;
        z-index: 1;
    }

    .add-item {
        margin: 0 20px;
    }

    .item {
       margin: 0 20px; 
    }

    /*컬러리스트내용*/

    .item-id {
        font-size: 16px;
        margin-left: -20px;
        margin-right: 20px;
    }
    .item-mbti {
        font-size: 16px;
        margin-left: -10px;
        margin-right: 20px;
    }
    .item-color-chip {
        margin-left: 20px;
        margin-right: -10px;
    }
    .item-hex {
        font-size: 16px;
        margin-left: 20px;
        margin-right: -20px;
    }
}
