.container {
    width: 416px;
    margin: 80px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header h1{
    font-size: 40px;
}

.header .cancel {
    background-color: #F5F7FB;
    border-radius: 24px;
    padding: 18px;
    display: flex;
    align-items: center;
}

.cancel:hover {
    background-color: #edf0f5;
  }
  
.cancel:active {
background-color: #dee4ee;
}
  
/*컬러 등록*/

.section {
    margin: 0;
    margin-bottom: 60px;
    position: relative;
}

.heading {
    font-size: 24px;
    margin: 20px 0;
}

.mbti-options {
    display: flex;
    gap: 16px;
    margin: 16px 0;
}

.mbti-option {
    flex-grow: 1;
    border:  #E7EBF2 solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 40px;
    border-radius: 16px;
    color: #8892A6;
    font-weight: 200;
}

.mbti-name {
    font-size: 40px;
    margin-right: 20px;
    color: #464E5E;
    font-weight: 500;
}

.mbti-option:hover {
    background-color: #F5F7FB;
}

.mbti-option.selected {
    background-color: #464E5E;
}

.mbti-option.selected .mbti-name {
    color: #fff;
}

/*컬러 등록*/

.heading.color {
    display: flex;
    gap: 10px;
}

.heading.color a {
    background-color: #F5F7FB;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 8px;
}

.color-select:hover {
    background-color: #F5F7FB;
}

.color-select:focus {
    border: #464E5E solid 2px;
}

.color-hex{
    border: #E7EBF2 solid 2px;
    border-radius: 16px;
    padding: 24px 24px 24px 30px;
    width: 100%;
    font-size: 24px;
    color: #8892A6;
    outline: none;/*인풋테두리스타일*/
}

.color-hex:hover{
    background-color: #F5F7FB;
    color: #464E5E;
}

.color-hex:focus {
    border: 2px solid #464E5E;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.color-chip {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    position: absolute;
    right: 24px;
    bottom: 20px;
}

/*등록 버튼*/

button {
    border-style: none;
    background-color: #464E5E;
    color: #fff;
    font-size: 24px;
    width: 100%;
    border-radius: 16px;
    padding: 24px 40px;
}