html {
  font-family: "Poppins", "Noto Sans KR";
  font-style: normal;
  color: #fff;
  font-size: 18px;
}

body {
  text-align: center;
}

.hidden {
  display: none;
}

input {
  background-color: #ffffff00;
  border-width: 0 0 3px;
  padding: 10px;
  border-color: #fff;
  color: #fff;
  font-size: 2em;
  width: 200px;
  text-align: center;
}

input:focus {
  outline: none;
  padding: 10px;
  caret-color: #fff;

}

img {
  position:absolute;
  width:100%;
  height:100%;
  left: 0px;
  top: 0px;
  right:0px;
  bottom:0px;
  z-index: -1;
  opacity:80%;
  }


h1 {
  margin: 0;
}

h2 { 
  font-size: 1200%;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

#clock {
  margin: 0;
  padding: 100px 0 0 ;
  font-weight: 600;
}

#greeting {
  margin: 0;
  font-size: 2em;
}


#quotes {
  position: absolute;
  bottom: 30px;
  width: 100%;
}