        body{
            margin: 0;
        }
        h1 {
            font-size: xx-large;
            text-align: center;
            border-bottom: 1px solid gray;
            margin: 0;
            padding: 20px;
        }
        a {
            color: black;
            text-decoration: none;
        }
        #grid{
            display: grid;
            grid-template-columns: 150px 500px 1fr;
        }
        /** :not()은 특정 선택자를 제외할 수 있다. **/
        #grid ol:not(.read){
            border-right: 1px solid gray;
            width: 100px;
            margin: 0;
            padding: 20px;
            padding-left: 30px;
        }
        #grid #profile{
            padding-left: 30px;
            padding-right: 15px;
        }
        #grid #profile ul{
            padding: 0;
            list-style-position: inside;
        }
        #grid #article{
            padding-left: 15px;
            padding-right: 30px;
            margin-top: 70px;
        }
        #footer{
            padding: 1em 2em 2em;
        }
        #footer a{
            float: right;
        }
        @media(max-width:800px){
            #grid{
                display: block;
            }
            #grid ol:not(.read){
                border-right: none;
            }
            h1{
                border-bottom: none;
            }
        }
