body {
    background: #f3f3f3;
    font-family: Poppins, 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
h1{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
#title{
    color: #818181;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.author{
    color: #818181;
    font-size: 12px;
    font-weight: 400;
}
.text{
    background: #ffffff;
    margin: 24px auto;
    padding: 24px;
    width: 320px;
}
/** 
1. div 태그는 다양한 용도로 쓰는 태그이기 때문에 여러 곳에 중복되는 효과를 지정하는 경우 클래스를 사용하는 걸 권장한다.
2. 스타일 적용 우선순위는 id>클래스>태그 선택자이기 때문에, id 선택자는 단독으로 쓰이는 효과에 사용하는 것을 권장하며, 이때 id의 이름은 유일해야한다.
3. 태그 선택자는 우선순위가 낮기때문에 다른 선택자가 우선으로 효과가 지정될 수 있다.
**/