*{
    box-sizing: border-box;
}
html{
    font-size: 24px;
}
body{
    background: #f3f3f3;
    font-family: Poppins, 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 40px;
}
a{
    color: inherit;/*링크 색상 제거*/
}
span{
    width: auto;
    margin-bottom: 10px;
}
ul{
    padding: 0;
    margin: 0;
    margin-top: 5px;
    width: auto;
}
li{
    display: flex;
    list-style-type: none;
    padding: 5px;
}
h1{
    margin-bottom: 0;
    margin-top: 30px;
}
p{
    font-size: 0.5rem;
    color: #cccccc;
}
hr{
    margin: 10px auto 0 auto;
    margin-top: 10px;
    border: 0.5px solid #e2e2e2;
    border-style: dashed;
    width: 300px;
}
@media(max-width:450px){
    .label {
        flex:auto;/*flex 아이템 크기를 자동으로 조정**/
  }
    hr {
        width: auto;
    }
}
#scroll{
    height: 200px;
    overflow: scroll;/*넘친 화면을 자르거나 스크롤화면으로 변경*/
}
#scroll::-webkit-scrollbar {
    width: 6px;
  }
  
#scroll::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
#scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #e9e9e9;
  }
/*노션 링크버튼*/
#tag_link{
    text-decoration: none;
}
#html{
    background-color: rgb(219, 86, 14);
}
#css{
    background-color: rgb(228, 106, 165);
}
#js{
    background-color: rgb(53, 83, 218);
}
#vue{
    background-color: #11a745;
}
#toy{
    background-color: #a931f4;
}
#subtitle{
    margin-top: 0;
    margin-bottom: 30px;
}
.nav{
    width: auto;
    padding: 3px 8px;
    border-radius: 12px;
    color: #ffffff;
}
.nav:hover{
    opacity: 0.8;
}
.notion{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
/**/
.sub_div{
    padding: 10px;
}
.menu{
    background: #ffffff;
    font-size: 0.5rem;
    max-width: 400px;
    padding: 20px 18px;
    margin: 15px auto;
    border-radius: 5px;
}
.sub_title_style_2, .list{
    font-size: 0.5rem;
}
.sub_title, .sub_title_style{
    font-size: 0.6rem;
}
h1, .main, .sub, .sub_title_style{
    color: #3d3d3d;
}
.main{
    font-size: 0.7rem;
    font-weight: bold;
}
.sub{
    margin-top: 10px;
}
.sub_title{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}
.sub_title_style{
    font-weight: 600;
    margin: 0;
}
.sub_title_style_2{
    font-weight: 400;
    color: #a7a7a7;
    margin: 0;
}
/*예제실습 목록*/
.list{
    color: #525252;
}
.label{
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.label:hover{
    color: #797979;
}
.label_style{
    margin: 0;
    font-size: 0.4rem;
    font-weight: 600;
    color: rgb(219, 86, 14);
}

/*푸터*/
input[type=button]{
    width: auto;
    height: 30px;
    font-size: 0.5rem;
    background-color: #e9e9e9;
    color: #b1b1b1;
    border: none;
    border-radius: 10px;
}
.sparkle-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 6px;
    border-radius: 50%;
    background-color:  rgb(219, 86, 14);
    box-shadow: 0 0 6px  rgb(219, 86, 14, 0.7);
    animation: sparkle 1.2s infinite ease-in-out;
  }