* {
  box-sizing: border-box;
}

body {
  background-color: #F2F3F8;
  color: #18191E;
  font-family: Roboto, 'Noto Sans KR', sans-serif;
  font-size: 17px;
}

a {
  color: #18191E;
}

input {
  border-radius: 6px;
  border: 1.5px solid #DADADA;
  font-size: 16px;
  padding: 10px;
  width: 500px;
  height: 50px;
  transition: border-color 0.3s ease;
}

input::placeholder {
  color: #DADADA;
}

input:hover {
  border-color: rgb(190, 190, 190);
}

input:focus {
  border-color: blue;
  outline: none;
}

button{
  display: inline-block;
  background-color: blue;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  display: block;
  margin: 24px 0;
  width: 500px;
  height: 50px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

#register-form {
  width: 100%;
  max-width: 500px;
}

#password {
  margin-bottom: 10px;
}

.invalid {
  color: red;
}

.invalid > input {
  border-color: red;
  color: red;
}

.error-message {
  display: none; 
  font-size: 12px;
  text-align: right;
}

.invalid .error-message {
  display: block;
}

.success {
  color: rgb(37, 199, 40);
}

.success > input {
  border-color: rgb(37, 199, 40);
  color: rgb(37, 199, 40);
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.container {
  background-color: #fff;
  width: 680px;
  height: 750px;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}




