
/*시맨틱 태그, 종속, 상속 활용*/

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}
  
  header {
    background-color: #11172b;
  }
  hr{
    width: 640px;
    height: 1px;
    background: #b3bdd5;
    border: 0;
    border-style: dotted;
  }
  .ticket hr{
    background: #dbf1ec;
    margin: 0px 0 0px -24px;/*-값은 부모 패딩값을 무시할 수 있다.*/
}
  .main.title{
    width: 640px;
    padding: 12px;
    margin: auto;
  }
  .main.title p{
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    margin: 0;
  }
  .main.title img{
    width: 24px;
    height: auto;
    margin-right: 10px;
  }
  #schedule {
    background-color: #ebeff8;
    width: 640px;
    margin: 48px auto 20px;
    padding: 24px 32px;
  }
  #schedule img{
    height: 12px;
    width: auto;
  }
  #schedule a{
    font-size: 16px;
    color: #b3bdd5;
    margin-left: 12px;
  }
  #schedule h1{
    font-size: 32px;
    font-family: 'Titillium web';
    color: #000;
    margin-top: 8px;
    margin-bottom: 24px;
  }
  #schedule .date{
    display: inline-block;
    background-color: #fff;
    font-size: 16px;
    color: #000;
    padding: 8px 24px;
    border-radius: 4px;
  }
  #schedule p{
    font-size: 12px;
    color: #b3bdd5;
    margin-top: 16px;
    margin-bottom: 0;
  }
  .ticket {
    background-color: #fff;
    width: 640px;
    margin: 20px auto 20px;
    padding: 8px 24px 24px;
  }
  .ticket h1{
    font-size: 12px;
    font-family: 'Titillium web';
    font-weight: 600;
    color: #16bf97;
    margin: 0;
    padding-bottom: 8px;
  }
  .container{
    margin-top: 26px;
  }
  .container div:nth-child(1),:nth-child(2) > p:nth-child(1){
    font-size: 12px;
    color: #b3bdd5;
    font-weight: 500;
    margin: 0;
  }
  .container div:nth-child(1) p:nth-child(1){
    margin: 0;
  }
  .container div:nth-child(1) p:nth-child(2){
    font-size: 16px;
    color: #1a345e;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .container div:nth-child(2) p:nth-child(2){
    font-size: 16px;
    color: #0b1f66;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .container div:nth-child(3){
    font-size: 14px;
    color: #1a345e;
    font-weight: 500;
    text-align: right;
  }
  .container div:nth-child(3) a{
    margin-left: 24px;
  }
  .container div:nth-child(3) a.soldout{
    color: #dce0e8;
  }